<a href="https://colab.research.google.com/github/ingridmidory/Inferencia-Est-distica/blob/main/EjemploSolucionAct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Paso 1. Leer la base de datos de COVID de México
#### https://buomsoo-kim.github.io/colab/2020/05/04/Colab-downloading-files-from-web-2.md/
!wget --timeout=300 --tries=1 "http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip"

--2021-10-22 04:19:34--  http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip
Resolving datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)... 187.210.186.146
Connecting to datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)|187.210.186.146|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 224000623 (214M) [application/x-zip-compressed]
Saving to: ‘datos_abiertos_covid19.zip’

datos_abiertos_covi 100%[===================>] 213.62M  31.3MB/s    in 7.2s

2021-10-22 04:19:41 (29.5 MB/s) - ‘datos_abiertos_covid19.zip’ saved [224000623/224000623]

In [ ]:
#### PASO 2. Convertir a pandas el archibo Zip descagardo de la SS
#####
import pandas as pd
import zipfile

#pandas support zip file reads
covidMx = pd.read_csv("/content/datos_abiertos_covid19.zip", encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
####  filtrar por positivos
####  son 3,707,233 casos positivos
positivosMx  = covidMx[covidMx['CLASIFICACION_FINAL']<=3]
len(positivosMx)

3772556

In [ ]:
positivosMx.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [ ]:
#### “NEUMONIA”, “DIABETES”, “EPOC”, “ASMA”, “HPERTENSION”, “OBESIDAD”, “CARDIOVASCULAR”, “OTRA_COM” y “FECHA_DEF”
vars = ['NEUMONIA', 'DIABETES', 'EPOC', 'ASMA', 'HIPERTENSION', 'OBESIDAD', 'CARDIOVASCULAR', 'OTRA_COM' , 'FECHA_DEF']
positivos2 = positivosMx[vars]
positivos2

          NEUMONIA  DIABETES  EPOC  ...  CARDIOVASCULAR  OTRA_COM   FECHA_DEF
0                2         2     2  ...               2         2  9999-99-99
1                1         1     2  ...               2         2  2020-07-21
8                2         1     2  ...               2         2  9999-99-99
14               2         2     2  ...               2         2  9999-99-99
15               2         2     2  ...               2         2  9999-99-99
...            ...       ...   ...  ...             ...       ...         ...
11158417        99         2     2  ...               2        98  9999-99-99
11158418        99         2     2  ...               2        98  9999-99-99
11158430        99         2     2  ...               2        98  9999-99-99
11158432        99         2     2  ...               2        98  9999-99-99
11158445        99         2     2  ...               2        98  9999-99-99

[3772556 rows x 9 columns]

In [ ]:
##### Calcular el número de personas fallecidas al 15-oct.21
positivos2['estado'] = positivosMx[positivosMx['FECHA_DEF']!="9999-99-99"]

In [ ]:
fallecidos.describe()

              ORIGEN         SECTOR  ...       MIGRANTE            UCI
count  285347.000000  285347.000000  ...  285347.000000  285347.000000
mean        1.451612       6.753090  ...      98.863321       9.908263
std         0.497654       3.596355  ...       3.643483      26.449592
min         1.000000       1.000000  ...       1.000000       1.000000
25%         1.000000       4.000000  ...      99.000000       2.000000
50%         1.000000       4.000000  ...      99.000000       2.000000
75%         2.000000      12.000000  ...      99.000000       2.000000
max         2.000000      13.000000  ...      99.000000      99.000000

[8 rows x 33 columns]

In [ ]:
### filtrar los positivos en SI=1  y NO=0.  Hay 573,991 casos 
fallecidos = fallecidos[fallecidos['NEUMONIA']<=2]
fallecidos = fallecidos[fallecidos['EPOC']<=2]
fallecidos = fallecidos[fallecidos['DIABETES']<=2]
fallecidos = fallecidos[fallecidos['OBESIDAD']<=2]
fallecidos = fallecidos[fallecidos['HIPERTENSION']<=2]
fallecidos = fallecidos[fallecidos['ASMA']<=2]
fallecidos = fallecidos[fallecidos['CARDIOVASCULAR']<=2]
fallecidos = fallecidos[fallecidos['OTRA_COM']<=2]

NameError: ignored

In [ ]:
##### la variable de respuesta Y debe estar [0-1]
fallecidos['NEUMONIA'] = fallecidos['NEUMONIA'].replace(1,0)
fallecidos['DIABETES'] = fallecidos['DIABETES'].replace(2,0)
fallecidos['ASMA'] = fallecidos['ASMA'].replace(2,0)
fallecidos['HIPERTENSION'] = fallecidos['HIPERTENSION'].replace(2,0)
fallecidos['OBESIDAD'] = fallecidos['OBESIDAD'].replace(2,0)
fallecidos['CARDIOVASCULAR'] = fallecidos['CARDIOVASCULAR'].replace(2,0)
fallecidos['OTRA_COM'] = fallecidos['OTRA_COM'].replace(2,0)

In [ ]:
fallecidos.describe()

            NEUMONIA       DIABETES  ...  CARDIOVASCULAR       OTRA_COM
count  280187.000000  280187.000000  ...   280187.000000  280187.000000
mean        0.575144       0.366666  ...        0.048100       0.049813
std         0.905263       0.481895  ...        0.213978       0.217559
min         0.000000       0.000000  ...        0.000000       0.000000
25%         0.000000       0.000000  ...        0.000000       0.000000
50%         0.000000       0.000000  ...        0.000000       0.000000
75%         2.000000       1.000000  ...        0.000000       0.000000
max         2.000000       1.000000  ...        1.000000       1.000000

[8 rows x 8 columns]

In [ ]:
import matplotlib.pyplot as plt

%matplotlib inline
pd.crosstab(fallecidos.DIABETES,fallecidos.).plot(kind='bar',stacked=True)
plt.title('Incubados con diabetes')
plt.xlabel('DIABETES')
plt.ylabel('Frecuencia de diabetes')
plt.savefig('diabetes')